.calculator_wrapper {
    width: 100%;
    height: 50%;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .calculator_wrapper>* {
     box-sizing: content-box;
  }

 .form_total_wrapper {
    width: 60%;
    min-width: 275px;
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border: 5px solid #2C8EEA;
    color: #1F446F;
    padding: 2px;
    border-radius: 5px;
 }

 .form_total_wrapper>* {
    margin-top: 20px;
 }

 
 .form_total_wrapper form {    
   font: normal normal bold 20px Montserrat;
    width: 20%;
    min-width: 275px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
 }

 .form_total_wrapper form p {
   font: normal normal bold 14px Montserrat;
   color: rgb(160, 86, 86);
 }

 .form_total_wrapper span {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.form_total_wrapper span input {
   background-color: #1F446F;
   width: 100px;
   outline: none;
   height: 30px;
   border-radius: 79px;
   font: normal normal bold 17px Montserrat;
   text-align: center;
   color: #FFFFFF;

}

 .form_total_wrapper form>* {
    margin-top: 20px;

 }

 .form_total_wrapper div:nth-child(2) {
    width: 50%;
    min-width: 280px;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font: normal normal bold 20px Montserrat;

 }

 .calculator_buttons {
   width: 100%;
   height: auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
 }

.submitValues, .clearValues {
   font: normal normal bold 20px Montserrat;
   text-transform: uppercase;
    background-color: #2C8EEA;
    width: fit-content;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-size: clamp(14px, 1vw, 20px);
    cursor: pointer;
    color: #FFFFFF;
 }