.App {
  min-height: 100vh;
  min-width: 100vw;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
  width: 100%;
  color: #1F446F;
  font-family: "Tiempos",serif;
}

.App h3 {
  text-transform: uppercase;
  word-spacing: 10px;
}
